@import '~@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d8e2dc;
  font-family: sans-serif;
  color: #44566C;
  background: url("/bg3.jpg") no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
